<h1>Showing selected article</h1>

<p>
    Name: <%= @state.name%>
</p>
<p>
    Short Name: <%= @state.short_name %>
</p>
<p>
    <%= link_to 'Edit', edit_state_path(@state) %>
    <%= link_to 'Back', states_path %>
</p>