<footer class="footer border-top">
    <small>
        Copyright &copy; <a href="#">Location Manager</a>
        by <a href="#">Awadhesh Kumar</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",about_path%></li>
            <li>Test</li>
        </ul>
    </nav>
</footer>